{% extends 'base.html' %}
{% block title %}Последние обновления на сайте{% endblock %}

{% block content %}

<main role="main" class="container">
    <h1>Последние обновления на сайте</h1>

<!-- Вывод карточки автора записи -->
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        {{ post.author.get_full_name }}
                    </div>
                    <div class="h3 text-muted">
                        {{ post.author }}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Подписчиков: XXX <br />
                            Подписан: XXX
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Записей: {{ post_list.count }}

                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">

<!-- Вывод записи -->
{% include "post_item.html" with post=post %}


        </div>
    </div>

<!-- Вывод формы и списка комментариев к записи -->
{% include 'comments.html' with items=comments %}

{% endblock %}

</main>
